* {
  outline: none !important;
}

.wrapper-calendar {
  margin: 1rem;
  padding: 0.5rem;
  border: solid 1px #eaeaea;
  box-shadow: 0 0 10px #e4e4e4;
}

div {
  text-align: center;
  width: 300px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0;
  padding: 0;
}

li {
  padding: 0.25rem;
  font-size: 1.5ch;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
li:hover {
  font-weight: 600;
  color: var(--main-color);
}

li.selected {
  transition: all 0.1s ease-in-out;
  border: 2px solid var(--main-color);

  /* background-color: var(--main-color); */
  border-radius: 50px;
  /* color: white; */
  font-weight: bold;
  color: white;
  background-color: var(--main-color);
}

h2 {
  margin-bottom: 4px;
  padding: 0;
}

.first-day {
  grid-column-start: var(--first-day-start, 0);
}

.day-name {
  background: #eee;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 2px;
  padding: 4px;
  text-align: center;
}

.header-calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 10px 20px;
}

.header-calendar h1 {
  width: 100%;
  font-size: 20px;
}

.header-calendar button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: #f04b46;
}

.header-calendar button:hover {
  color: var(--main-color);
}
