<div class="quoter">
  <div class="title">
    <span>
      Cotiza tu RED CARD Assist
    </span>

    <div class="field">
      <span class="title">
        Destino
      </span>
      <location-input></location-input>
    </div>
    <div class="field  field--row">
      <div class="field">
        <span class="title">
          Fecha de Salida
        </span>
        <date-input></date-input>
      </div>
      <div class="field">
        <span class="title">
          Fecha de retorno
        </span>
        <date-input></date-input>
      </div>
    </div>

    <div class="field field--row">
      <div class="field">
        <span class="title">Entre 0 y 13</span>
        <card-age></card-age>
      </div>
      <div class="field">
        <span class="title">Entre 13 y 70</span>
        <card-age></card-age>
      </div>
      <div class="field">
        <span class="title">Entre 71 y 85</span>
        <card-age></card-age>
      </div>
    </div>

    <div class="field">
      <button>
        Cotizar
      </button>
    </div>
  </div>



</div>
